{% extends "base.html" %}

{% block title %}Log Activity{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4 text-center">Log Activity</h1>
    <form method="post" class="mt-4">
        <div class="mb-3">
            <label for="category" class="lead">Select Category:</label>
            <select name="category" id="category" class="form-select" onchange="fetchActivities(this.value)">
                <option value="" disabled {% if not selected_category %}selected{% endif %}>Select a category</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if selected_category and selected_category.id == category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="activity" class="lead">Select Activity:</label>
            <select name="activity" id="activity" class="form-select" required>
                <option value="" disabled selected>Select a category first</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="timestamp" class="lead">Custom Timestamp</label>
            <p class="text">This is optional.</p>
            <input type="datetime-local" class="form-control" id="timestamp" name="timestamp">
        </div>
        <div class="mb-3">
            <label for="notes" class="lead">Notes</label>
            <p class="text">This is optional.</p>
            <textarea class="form-control" id="notes" name="notes" rows="3"></textarea>
        </div>
        <div class="d-flex justify-content-center gap-1">
            <button type="submit" class="btn btn-primary">Log Activity</button>
            <a href="/" class="btn btn-secondary">Back to Home</a>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/fetchActivities.js') }}"></script>
{% endblock %}