{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
    <section class="hero-section">
        <div class="container">
            <h1 class="display-1 fw-bold text-primary">Welcome to Life Trail!</h1>
            <p class="lead text-start mb-1">A platform to discover insights and patterns into your habits.</p>
            <p class="lead text-start">Just track the things that matter to you, like <span id="exampleStepsToTrack"></span>.</p>
        </div>
    </section>

    <!-- Login Form -->
    {% if error_message %}
    <div class="alert alert-danger text-center" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <form method="post" class="mt-2">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="d-flex justify-content-center gap-1">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="{{ url_for('register') }}" class="btn btn-secondary">Don't have an account? Register here.</a>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='js/updateExampleStepsToTrack.js') }}"></script>

{% endblock %}