<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Login</title>
    <style>
        .welcome-section {
            padding: 60px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <section class="hero-section">
            <div class="container">
                <h1 class="display-1 fw-bold">Welcome to Life Trail!</h1>
                <p class="lead">A platform to track your activities.</p>
            </div>
        </section>

        <!-- Login Form -->
        <form method="post" class="mt-2">
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <div class="text-center mt-4">
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
        </div>
    </div>

    <footer class="text-center mt-5">
        <div class="container">
            <p>&copy; 2024 Life Trail. Made with ❤️ in Palo Alto.</p>
        </div>
        <div class="container mt-3">
            <a href="https://www.linkedin.com/in/mufaddalmotiwala" class="me-3" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
            <a href="https://www.github.com/mqmotiwala/life_trail" class="me-3" target="_blank"><i class="fab fa-github fa-lg"></i></a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>